.position {
    display: flex;
    position: absolute;
    flex-direction: column;
}
.position h3 {
        text-align: center;
        color: white;
        box-sizing: border-box;
        border-radius: 5px;
        padding: .1rem .5rem;
        background-color: #014eff;
        margin: 0px;
        top: 7.5rem;
        font-size: 0.8rem;
        
}