.player{
    display: flex;
    flex-direction: column;
    margin: 0px;
    

}

.player img{
    
    border-radius: 5px;
    height: 3rem;
    width: 3rem;
    padding: 0px;

}

.player h1{
    box-sizing: border-box;
    background-color: #ffd200;
    font-size: 1rem;
    padding: .15rem 1.5rem;
    margin: 0px;
    border-radius: 5px;
    color: #014eff;

}

